<div class="container">
<h1>All Jobs</h1>

  <div class="search">
      <div class="search-form">
        <%= form_tag jobs_path, method: :get do %>
          <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "search for jobs"%>
      </div>
        <i class="fas fa-search"><%= submit_tag "Search", class: "btn"%></i>
  </div>
</div>
    <% end %>

<br>

<div class="job-all col-6">
    <% @jobs.each do |job| %>
      <div class="job-container d-flex justify-content-between">
        <div class="job-card">
          <%= link_to job_path(job), remote: true, method: :get, class: 'job-link' do %>
            <h2><%= job.title %><%= job.location %></h2>
            <h3><%= job.salary %></h3>
            <p><%= job.description %></p>
          <% end %>
        </div>
        <div class="job-location">
        </div>
      </div>
  <% end %>
</div>


