    document.querySelector(".job-location").innerHTML = "";
    document.querySelector(".job-location").insertAdjacentHTML("beforeend", `
  <h1><%= @job.title %></h1>
  <h2><%= @job.location %></h2>
  <h3><%= @job.salary %></h3>
  <p><%= @job.description %></p>

  <button><%= link_to "Apply Now!", job_job_applications_path(@job), method: :post  %></button>
`);


  <div id="map"
  style="width: 100%; height: 600px;"
  data-markers="<%= @markers.to_json %>"
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
</div>


`);
console.log("hello")
console.log("<%=@markers%>")
// document.getElementById('job-map').innerHTML = "<%= j render partial: 'map', markers: @markers %>";
