<div class="container py-4">
  <div class="card p-3">
    <h3><%= @job.title %></h3>
    <p class="text-muted"><%= @job.description %></p>

    <table class="table">
      <thead>
        <tr>
          <th scope="col">Avatar</th>
          <th scope="col">Name</th>
          <th scope="col">Looking for</th>
          <th scope="col">Applied on</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @job_applications.each do |application| %>
          <tr>
            <th scope="row">
              <% if application.user.photo.attached? %>
                <%= cl_image_tag application.user.photo.key, class: 'avatar' %>
              <% else %>
                No photo
              <% end %>
            </th>
            <td><%= application.user.fullname %></td>
            <td><%= application.user.job_title %></td>
            <td><%= application.created_at %></td>
            <td>
              <div class="dropdown show">
                <a href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="fas fa-ellipsis-h"></i>
                </a>

                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                  <%= link_to "View candidate profile", applicant_profile_path(application.user), class: 'dropdown-item' %>
                  <%= link_to "TODO" , "#", class: 'dropdown-item' %>
                </div>
              </div>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

