<h1> Apply now!</h1>
 <%= simple_form_for [@job, @job_application] do |f| %>
   <%= f.input :email,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "email" }%>
   <%= f.input :first_name %>
   <%= f.input :photo, label: "Upload CV", as: :file %>

    <%= f.submit class: "btn-flat" %>
  <% end %>
