<%= link_to "back", job_job_applications_path(@applicant_profile.job_applications.last.job), class: "btn btn-primary m-3" %>
<div class="container py-3">
  <div class="row">
    <div class="col-7">
      <div class="card p-3">
        <div class="d-flex align-items-center">
          <% if @applicant_profile.photo.attached? %>
            <%= cl_image_tag @applicant_profile.photo.key, class: 'avatar-square-lg mr-3' %>
          <% else %>
            <%= image_tag "https://eu.ui-avatars.com/api/?name=#{@applicant_profile.fullname}", class: 'avatar-square-lg mr-3' %>
          <% end %>
          <h4><%= @applicant_profile.fullname %></h4>

        </div>
        <hr>
        <p class="small text-muted">Looking for:</p>
        <p><%= @applicant_profile.job_title %></p>

        <p class="small text-muted">Other jobs he/she applied to:</p>
        <p><%= @applicant_profile.job_applications.uniq.map {|application| application.job.title}.to_sentence %></p>

      </div>
    </div>
    <div class="col-5">
      <% if @applicant_profile.cv.attached? %>
        <%= cl_image_tag @applicant_profile.cv.key, class: "w-100" %>
      <% else %>
         <p class="text-muted">No CV attached</p>
      <% end %>
    </div>
  </div>
</div>


