
  <h1> <%= @applicant_profile.first_name %>'s Profile </h1>
  <button> <%= link_to "Interview", "#"  %> </button>
  <button> <%= link_to "Decline", "#"  %> </button>

  <button> <%= link_to "Edit profile", "#"  %> </button>

  <h2>Job applications</h2>
  <div class="d-flex justify-content-around align-items-center ">
  
  <div class = "example-1 card-profile">
    <ul>
        <li><%= @applicant_profile.first_name %></li>
        <li><%= @applicant_profile.last_name %></li>
        <li><%= @applicant_profile.job_title%></li>
      </ul>
</div>
  </div>


