  <div class="d-flex flex-column justify-content-around align-items-center ">
  <h2 class="bg-info p-2 rounded"><%= @applicant_profile.first_name %>'s CV:</h2>
    <!-- Plug in CV here -->
    <% if @applicant_profile.cv.attached? %>
  <%= cl_image_tag @applicant_profile.cv.key, class: "w-50" %>
    <% else %>
       <h2>No CV attached</h2>
    <% end %>
    <!-- <div class = "example-1 card-profile">
      <ul>
          <li><%= @applicant_profile.first_name %></li>
          <li><%= @applicant_profile.last_name %></li>
          <li><%= @applicant_profile.job_title%></li>
        </ul>
    </div> -->
  </div>


