

  <h1> <%= @applicant_profile.fullname %></h1>
  <%= link_to "Interview", "#", class: "btn btn-primary"  %>
  <%= link_to "Decline", "", class: "btn btn-primary"  %>

  <%= link_to "Edit profile", "#", class: "btn btn-primary"  %>

  <h1></h1>


  <div class="d-flex flex-column justify-content-around align-items-center ">
  <h2 class="bg-info p-2 rounded"><%= @applicant_profile.first_name %>'s CV:</h2>
    <!-- Plug in CV here -->
  <%= cl_image_tag @applicant_profile.cv.key, class: "w-50" %>
    <!-- <div class = "example-1 card-profile">
      <ul>
          <li><%= @applicant_profile.first_name %></li>
          <li><%= @applicant_profile.last_name %></li>
          <li><%= @applicant_profile.job_title%></li>
        </ul>
    </div> -->
  </div>


