<div class="container py-4">
  <div class="d-flex align-items-center justify-content-between">
    <h1>Dashboard</h1>
    <%= link_to "Create", new_job_path, class: "btn btn-primary" %>
  </div>

  <div class="search">

    <div class="search-form">
      <%= form_tag dashboard_path, method: :get, class: "rel", id: "form" do %>
        <input type="text" name="query" value="<%= params[:query] %>" class="form-control rel" placeholder="Search jobs you've posted..." >
        <i class="fa fa-search tb"></i>
      <% end %>
    </div>
  </div>

  <table class="table">
    <thead>
      <tr>
        <th scope="col">Company</th>
        <th scope="col">Job Title</th>
        <th scope="col">Salary</th>
        <th scope="col">Date added</th>
        <th scope="col">Applicants</th>
        <th scope="col">Interviews</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @jobs.each do |job| %>
        <tr>
          <th scope="row">
            <% if job.photo.attached? %>
              <%= cl_image_tag job.photo.key, class: 'avatar avatar-small' %>
            <% else %>
              No photo
            <% end %>
          </th>
          <td><%= job.title %></td>
          <td><%=  number_with_delimiter(job.salary, separator: " ") %></td>
          <td><%= job.created_at.strftime("%d-%m-%Y") %></td>
          <td><%= job.job_applications.count %></td>
          <td><%= job.job_applications.map { |application| application.interview }.compact.count%></td>
          <td>
            <div class="dropdown show">
              <a href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-ellipsis-h"></i>
              </a>

              <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <%= link_to "View applications" , job_job_applications_path(job), class: 'dropdown-item' %>
                <%= link_to "View interviews", job_job_application_interview_feedbacks_path(job, :job_application_id), class: 'dropdown-item' %>
                <%= link_to "Archive", job_path(job), method: :delete, class: 'dropdown-item' %>
                <%= link_to "Edit", edit_job_path(job), class: 'dropdown-item' %>
              </div>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
