<div class="container">
  <h1>Dashboard</h1>

<div class="search">

  <div class="search-form">
    <%= form_tag dashboard_path, method: :get, class: "rel", id: "form" do %>
    <input type="text" name="query" class="form-control rel" placeholder="Search jobs you've posted..." >
    <i class="fa fa-search tb"></i>
    <% end %>
  </div>

    <br>

  <div>

    <div>
      <button class=""><%= link_to "Create", new_job_path %></button>
    </div>

    <div>
      <% @jobs.each do |job| %>
      <% end %>
    </div>

  </div>

</div>

  <div class="row">
    <% @jobs.each do |job| %>
    <div class="example-1 card">
      <div class="wrapper">

        <div class="date">
          <span class="day"><%= Date.today %></span>
        </div>

        <div class="data">
          <div class="content">
            <span class="author"><%= job.title %></span>
            <h1 class="title"><a href="#" class="cardTitle"><%= job.description %></a></h1>
            <p class="text"><%= job.location %>, <%= job.salary %> GBP </p>
            <button><%= link_to "Delete", job_path(job), method: :delete %></button>
            <button><%= link_to "Edit", edit_job_path(job) %></button>
          </div>
        </div>

      </div>
    </div>
    <% end %>
  </div>
</div>

<script>
  document.querySelector(".tb").addEventListener("click", () => {
    document.getElementById("form").submit();
  })
</script>

